html{padding:0px;margin:0px;background:url("533.jpg")}
body{padding:5px;margin:0px;color:#000000}
.Cell{padding:10px;margin:10px;width:100%;float:left}
#cache{height:100px;width:350px;float:left;margin:10px 250px 10px 10px}
#myimg{margin:30px 20px 10px 200px;}
.ChildTitle{height:230px;width:180px;float:left;}
.ChildText{height:200px;padding:0px 40px 30px 0px}
.Qus{font-size:18px}
.Res{font-size:16px}
hr{background-color:#00008b}
